#right {
    margin: 0;
}

#right_container {
    width: 799px;
    padding-bottom: 5px;
}

#global_error {
    padding-bottom: 0;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  float: right;
    margin-top: -7px;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 26px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #3EB9FD;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #3EB9FD;
}

.wrap {
    background-color: #18587C;
    padding-bottom: 1px;
}

.field-label {
    background-color: rgba(255,255,255,.4);
    color: #fff;
}

.label-name {
    display: inline-block;
}

a {
    text-decoration: none;
}


/* HEADER */

.header {
    background: #0A263D;
    height: 75px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    width:100%;
    position:relative;
    top:0px;
    z-index: 1;
}

.header h1 {
    margin: 0;
    line-height: 75px;
    color: #FFF;
    font-family: 'montserratbold', sans-serif;
}

.header div {
    display: inline-block;
    vertical-align: middle;
}

.back {
    position: absolute;
    top: 28px;
    left: 20px;
}

.back img, p {
    display: inline-block;
    vertical-align: middle;
}

.back p {
    color: #FFF;
    font-family: 'montserratregular', sans-serif;
    padding: 0 15px;
    margin: 0;
}

.info {
    position: absolute;
    top: 25px;
    right: 20px;
}

/* HEADER2 */
.header2 {
    background: #0A263D;
    height: 107px;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    width:799px;
    position:relative;
    top:0px;
    z-index: 1;
}

#explorationName {
    width: 474px;
    font-family: 'montserratlight', sans-serif;
    font-size: 20px;
    background: rgba(255,255,255, 0.3);
    color: #FFF;
    border:none;
    padding: 22px 60px 22px 22px;
    margin: 20px 0 20px 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}

#submit {
    width: 260px;
    font-family: 'montserratregular', sans-serif;
    font-size: 20px;
    text-align: center;
    background: #3EB9FD;
    color: #FFF;
    border: 2px solid #fff;
    padding: 20px;
    margin: 0 0 0 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    cursor: pointer;
/*transition: all .5s ease;*/
}

#submit:hover {
    color: #3EB9FD;
    background: #FFF;
    border: 2px solid #3EB9FD;
}


/* DESCRIPTION & DIG DEEPR */
.field {
    margin: 20px;
}

.field .field-label{
    padding: 20px;
}

.field .field-label h1{
    font-size: 16px;
     font-family: 'montserratregular', sans-serif;
}

.textField {
    width: 719px;
    height: 140px;
    font-family: 'montserratlight', sans-serif;
    font-size: 16px;
    background: rgba(255,255,255, 0.2);
    color: #FFF;
    box-shadow: none;
    border:none;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}

textarea {
    resize: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
    top: 0;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}

.textField:focus {
    outline: none !important;
    border: inset 2px solid rgba(255,255,255, .5);
    box-shadow: inset 0px 0 5px #FFF;
}

.field .field-label .cmn-toggle + label{
    display: inline-block;
    vertical-align: middle;
}



/* ADD MEDIA */

.thumbnail {
    width: 131px;
    height: 131px;
    background: rgba(255,255,255,.3);
    position: relative;
    margin: 20px 0 0 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);

}

.thumbnail-img, .thumbnail-img img {
    width: 131px;
    height: 131px;
}

.thumbnail-header {
    width: 405px;
    height: 131px;
    background: rgba(255,255,255,.3);
    position: relative;
    margin: 20px 0 0 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    overflow:hidden;
}

.thumbnail_title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(2,20,38, .8);
}

.thumbnail_title h3 {
    font-family: 'montserratregular', sans-serif;
    font-size: 10px;
    color: #fff;
    margin:0;
    padding: 10px 10px;
}

.thumbnail .dropImg, .thumbnail-header .dropImg {
    position: absolute;
    top: 10px;
    left: 38px;
    background: transparent;
    font-family: 'montserratregular', sans-serif;
    font-size: 20px;
    color: #fff;
}

.thumbnail-header img {
    width: 405px;
}

.form-group-file {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 131px;
    height: 131px;
}

.form-group-file-header {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 405px;
    height: 131px;
}

.form-group-file input {
    width: 131px !important;
    height: 131px !important;
    opacity: 0 !important;
    cursor: pointer;
}

.form-group-file-header input {
    width: 405px !important;
    height: 131px !important;
    opacity: 0 !important;
    cursor: pointer;
}

.medias {
    margin: 0;
    padding-bottom: 20px;
    z-index: 2;
    background: rgba(255,255,255, 0.2);
     -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}

img {
    object-fit: cover;
}

.medias div {
    display: inline-block;
}

.media {
    width: 127.5px;
    height: 127.5px;
    margin: 20px 0 0 20px;
    position: relative;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    object-fit: cover;
}



/* STOPS */

#reorder {
    font-family: 'montserratregular', sans-serif;
    font-size: 16px;
    background: rgba(255,255,255, 0.3);
    color: #FFF;
    box-shadow: none;
    border:none;
    padding: 0px 20px 20px 20px;
    margin-top: -20px;

    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}

.drag {
    font-family: 'montserratregular', sans-serif;
    font-size: 16px;
    background: rgba(255,255,255, 0.3);
    color: #FFF;
    box-shadow: none;
    border:none;
    padding: 20px;
}

#stops {
    background: rgba(255,255,255, 0.3);
    margin-top: 20px;
    padding: 20px;
    text-align:center;
}

#editStops {
   background: none;
    color: #FFF;
    font-size: 14px;

    cursor: pointer;
    font-family: 'montserratregular', sans-serif;
    float: right;

}

.stops label-name {
    display: inline;
    vertical-align: middle;
}

/* DELETE */
.delete {
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    font-family: 'montserratregular', sans-serif;
    background: #0A263D;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}
