body, html {
    margin: 0;
    padding: 0; 
}

.users {
	background-color: #18587C;
    padding-bottom: 20px;
    min-height: 500px;
}

a {
    text-decoration: none;
}

img {
    border:none;
}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/Montserrat-Regular-webfont.eot');
    src: url('fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/Montserrat-Bold-webfont.eot');
    src: url('fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratthin';
    src: url('fonts/montserrat-thin-webfont.eot');
    src: url('fonts/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('fonts/montserrat-thin-webfont.woff') format('woff'),
         url('fonts/montserrat-thin-webfont.ttf') format('truetype'),
         url('fonts/montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


#right {
    margin: 0;
}

#right_container {
    width: 799px;
    padding-bottom: 5px;
}

#global_error {
    padding-bottom: 0;
}




/* HEADER */

.header {
    background: #0A263D;
    height: 75px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    width:100%;
    position:relative;
    top:0px;
    z-index: 1;   
}

.header h1 {
    margin: 0;
    line-height: 75px;
    color: #FFF;
    font-family: 'montserratthin', sans-serif;
     font-family: 'montserratlight' sans-serif;
    letter-spacing: 1px;
    font-weight: 100; 
}

.header div {
    display: inline-block;
    vertical-align: middle;
}

.back {
    position: absolute;
    top: 28px;
    left: 20px;
}

.back img, p {
    display: inline-block;
    vertical-align: middle;
}

.back p {
    color: #FFF;
    font-family: 'montserratregular', sans-serif;
    padding: 0 15px;
    margin: 0;
}





/* USERS */

.users {
    z-index: 2;
}

.addUser {
	display: inline-block; 
	border-style:none;
	margin-top: 8px;
	margin-right: -3px;
	float: right;
	width:60px;
	height:60px;
}

.addUser2 {
	display: inline-block; 
	border-style:none;
	margin-top: 4px;
	margin-right: -3px;
	float: right;
	width:60px;
	height:60px;
}

.none {
    width: 759px;
    display: inline;
}



.removeUser {
	display: inline-block;  
	border-style:none;
	margin-top: 27.5px;
	float: right;
	margin-right: 20px;
	width:12px;
	height:12px;
}

.users div {
    display: inline-block;
}

.project {
    width: 759px;
    margin: 20px 0 0 20px;

}

.badges {
	display: inline-block;
	margin-top: 2px;
}

.badges img {
	padding: 0 5px 0 0;
    width: 50%;
}


.project_title {
    width: 100%;
    bottom: 0;
    background: rgba(255,255,255, 0.4);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.2); 
    -webkit-transition: -webkit-filter .5s;
}
    
.project_title h3 {
    font-family: 'montserratlight' sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
    margin:0;
    padding: 20px;
}

.user {
    width: 759px;
    display: inline;
	vertical-align: middle;
}

.user div	{
vertical-align: middle;
}
 

.odd {
    background: rgba(255,255,255, 0.2);
}

.even {
    background: rgba(255,255,255, 0.1);
}



.user_title {
    width: 300px;
    bottom: 0;
}
.user_title h3 {
    font-family: 'montserratlight' sans-serif;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    margin:0;
    padding: 20px;
}

.username {
    font-family: 'montserratlight' sans-serif;
    width: 220px;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    margin:0;
    padding: 20 20 20 0;
}

.usernameAddUser {
    font-family: 'montserratlight' sans-serif;
    width: 320px;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    margin:0;
    padding: 20 20 20 0;
}

.switch {
	display: inline-block;
	margin-bottom: 15px;
}

.cmn-toggle {
  display:none;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  float: right;
  margin-top: -7px;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #3EB9FD;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 20px;
  background-color: #3EB9FD;
}