.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.crop-buttons {
  width: 131px;
  margin-top: 20px;

  .crop-button {
    width: 55.5px;
    height: 55.5px;
    background: transparent;
    cursor: pointer;
    z-index: 999;
    border: 1px solid $mbiraLightBlue;

    &:hover {
      color: $mbiraLightBlue;
      background: #FFF;

      i {
        color: $mbiraLightBlue;
      }
    }

    i {
      color: white;
      font-size: 18px;
      z-index: -100;
      line-height: 0px;
    }
  }

  .crop-button-middle {
    margin: 10px 0px 10px 0px;
  }

  .crop-button-top {
    margin-bottom: 10px;
  }

  .crop-button-bottom {
    margin-top: 10px;
  }

}

.modal-button {
  margin-top: 20px;
  font-family: 'montserratlight', sans-serif;
  height: 50px;
  text-align: center;
  background: $mbiraLightBlue;
  color: #FFF;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: white !important;
    color: $mbiraLightBlue;
  }

}

#crop-submit {
  width: 698px;
}

#details-submit {
  width: 340px;
}

#skip-forward {
  background: $mbiraLightBlue;
  visibility: hidden;
  width: 0px;
  border: none;
}

#step-back {
  background: transparent;
  width: 0px;
  border: 1px solid $mbiraLightBlue;
}

.step-back-details {
  width: 340px !important;
  visibility: visible !important;
}


.modalCheckbox {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 18px;
  margin: 20px 0 0 0;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .modalCheckboxBox {
    background-color: $mbiraLightBlue;
    border: 1px solid white;
  }

  .modalCheckboxBox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid $mbiraLightBlue;
    background-color: transparent;
    transition: background-color 600ms ease 0s;

    &:hover {
      background-color: white;
      border: 1px solid $mbiraLightBlue;
    }
  }

  .modalCheckboxText {
    cursor: pointer;
    white-space: nowrap;
    margin: 0 0 0 10px;
    color: #667887;
  }

}

.crop-steps {
  width: 270px;
  float: left;
  line-height: 0px;
  margin-top: 5px;

  .modal-step {
    font-size: 18px;
    font-family: 'montserratthin', sans-serif;
    color: #667887;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    transition: color .5s linear;
  }

  .current-step {
    color: white;
  }

  .modal-button-text {
    &.ng-animate {
      -webkit-transition:all linear .5s;
      transition:all linear .5s;
    }

    &.ng-leave,
    &.ng-leave.ng-leave-active {
      display:none; 
    }

    &.ng-enter {
      opacity: 0;
      -webkit-transition:all linear .5s;
      transition:all linear .5s;

      &.ng-enter-active {
          opacity:1;
      }
    }
  }
}