<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/project_single.css"/>
		<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
        <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
		<link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
		
		<script src="js/leaflet.js"></script> 
		<script src="js/l.control.geosearch.js"></script> 
		<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
    </head>
<body ng-app='mbira'>
    <div class="wrap" ng-controller='singleAreaCtrl'>    
		<div class="header">
			<div class="back"><a ui-sref="viewProject({project: project})"><img src="img/back.png"/><p>BACK TO PROJECT</p></a></div>
			<h1>{{area.name}}</h1>
		</div>
    
		<div id="map"></div>
		
		<div class="header">
			<h3>AREA INFO</h3>
		</div>
		<br>
		<form id="editareaform" name="editareaform" novalidate ng-submit="submit()" role="form">
			<div class="form-group">				        
				<input type="text" required class="form-control npInput" ng-model="area.name" placeholder="Area Name">
				<button type="submit" id="submit" class="btn btn-default" ng-disabled="editlocationform.$invalid" ng-class="{'btn-disabled': editareaform.$invalid}">SAVE & CLOSE</button>
			</div><br>
			
			<div class="form-group">				        
				<select ng-model="selectedExhibit" ng-options="exhibit.name for exhibit in exhibits"></select>
				<button type="button" ng-click='editArea()' class="btn btn-default">EDIT AREA</button>
			</div><br>
			
			<div class='field-label'>
					<h1 class='label-name'>DESCRIPTION</h1>					
			</div>
			
			<div class="form-group">			
				<textarea ng-model="area.description"></textarea>
			</div><br>				
		</form>
		
		<div class='field-label delete'>
					<h1 ng-click='delete()' class='label-name'>DELETE AREA</h1>
			</div>
	</div>
    

</body>
</html>

