<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/area_single.css"/>
        <link rel="stylesheet" type="text/css" href="css/project_all.css"/>
		<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
        <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href="css/isteven-multi-select.css"/>
		<link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
		
		<script src="js/leaflet.js"></script>
		<script src="js/l.control.geosearch.js"></script> 
		<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
		
		<script type="text/ng-template" id="replyTree">
			<div class='comment' style='display:inline-block;'>{{comment.user}}<div style='display:inline-block; float: right; font-size:12px;'>{{comment.date}}</div><br>{{comment.comment}}<br></div> 
			<div ng-if="comment.replies">
				<div style='margin-left:50px;' ng-repeat="comment in comment.replies" ng-include="'replyTree'">
				</div>
			</div>
		</script>
		
    </head>
<body ng-app='mbira'>
    <div class="wrap" ng-controller='singleAreaCtrl'>    
		<div class="header">
			<div class="back"><a onclick="window.history.go(-1); return false;"><img src="img/back.png"/><p>{{project}}</p></a></div>
			<h1>{{area.name}}</h1>
		</div>
    
		<div id="map"></div>
		
		<form id="editareaform" name="editareaform" novalidate ng-submit="submit()" role="form">
			<div id="scroller-anchor"></div>
            <div id="scroller" class="header2">
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="areaName" ng-model="area.name" placeholder="Area Name">
					<button type="submit" id="submit" class="btn btn-default" ng-disabled="editareaform.$invalid" ng-class="{'btn-disabled': editareaform.$invalid}">SAVE AREA</button>
				</div>
			</div>

            <div class="edit-exhibit">
			<div class="form-group">				        
				<div bindToController='true' isteven-multi-select input-model="exhibits" helper-elements="all none" output-model="outputExhibits" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                </div></div>
			
            <div class="field">
			<div class='field-label'>
					<h1 class='label-name'>DESCRIPTION</h1>					
                </div>
			
			<div class="form-group">			
				<textarea id="textField" ng-model="area.description"></textarea>
			</div></div>				
		
            
            <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>DIG DEEPER</h1>
					<input ng-model='area.toggle_dig_deeper' id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-1"></label>
				</div>
			</div>
			
			<div class="form-group">				        
				<textarea id="textField" ng-model="area.dig_deeper"></textarea>
                </div></div>
		
		<div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>MEDIA</h1>
					<input ng-model='area.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-2"></label>
				</div>
			</div>
			
			<div class="medias">	
				<div class='media' ng-repeat='m in media'>
					<img ng-src='images/{{m.file_path}}' height="127.5" width="127.5">
				</div>
				<div class="media_new"> 
	                <div class="form-group-file">				        
	    					<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
	    			</div>
					<img src="img/project_new_plus_icon_small.png" height="127.5" width="127.5">
					<div class="media_title_new"><h3>ADD MEDIA</h3></div>
				</div>
            </div></div>
			
            <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>COMMENTS</h1>
					<input ng-model='area.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-3"></label>
				</div>
			</div>
			
			<div class="form-group comments-all"><p>No Comments Yet.</p>
				<div id='comments' ng-repeat="comment in comments" ng-if="area.toggle_comments" ng-include="'replyTree'">
				</div>				
			</div>
            </div>
			
		</form>
		<div class='field-label delete'>
					<h1 ng-click='delete()' class='label-name'>DELETE AREA</h1>
			</div>
	</div>
    
	<script type='text/javascript' src='js/fixHead.js'>
</body>
</html>

