<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
    <link rel="stylesheet" type="text/css" href="css/isteven-multi-select.css"/>
	<link rel="stylesheet" type="text/css" href="css/newarea.css"/>
       
		
	<script src="js/leaflet.js"></script>
	<script src="js/l.control.geosearch.js"></script> 
	<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
</head>
<body ng-app="mbira">
    
	<!--AREA INFORMATION-->	
	<div ng-controller="newAreaCtrl">

		<!--HEADER-->
		<div class="header">
			<div class="back"><a ui-sref='viewProject({project: ID, pid: PID})'><img src="img/back.png"/><p>{{project}}</p></a></div>
				<div class="title"><h1>NEW AREA</h1>
			</div>
		</div>
        <div class="help">
            <p>Click out the dimensions you’d like to use for the area, then click "SAVE AREA"</p></div>
		
		<div id="map">
			<button id="done">DONE!</button>
		</div>

		<div class="area_info" style='display:none'>    
			<form id="newareaform" name="newareaform" novalidate ng-submit="submit()" role="form">
				<div id="scroller-anchor"></div>
                <div id="scroller" class="header2">
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="name" name="name" ng-model="newArea.name" placeholder="Enter New Area Name">
					<button type="submit" id="submit" class="btn btn-default" ng-disabled="newareaform.$invalid" ng-class="{'btn-disabled': newareaform.$invalid}">SAVE AREA</button>
				</div>
			</div>
                
                 <div class="edit-exhibit">
			<div class="form-group">				        
				<div bindToController='true' isteven-multi-select input-model="exhibits" helper-elements="all none" output-model="outputExhibits" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                </div></div>
			
            <div class="field">
			<div class='field-label'>
					<h1 class='label-name'>DESCRIPTION</h1>					
                </div>
			
			<div class="form-group">			
				<textarea id="textField" ng-model="newArea.description" placeholder="Enter New Area Description"></textarea>
			</div></div>	

            <div class="field">
				<div class='field-label flex-align'>
					<h1 class='label-name'>SHORT DESCRIPTION</h1>
					<div class="counter">{{newArea.shortDescription.length}}/150</div>					
                </div>
			
			<div class="form-group short">				        
					<textarea class="form-control npInput short" id="textField" name="short" maxlength="150" ng-model="newArea.shortDescription" placeholder="Short Area Description"></textarea>
			</div></div>			
		
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>DIG DEEPER</h1>
					<input ng-model='newArea.toggle_dig_deeper' id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-1"></label>
				</div>
			</div>
			
			<div class="form-group">				        
				<textarea id="textField" ng-model="newArea.dig_deeper" placeholder="Enter New Area Dig Deeper"></textarea>
                </div></div>
                
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>MEDIA</h1>
					<input ng-model='newArea.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-2"></label>
				</div>
			</div>
			
			<div class="medias">
                
                <div class="thumbnail dropzone"> 				
					<img src="img/Default.png" height="131" width="131">
					<div class="thumbnail_title">
						<h3>{{"ADD THUMBNAIL"}}</h3>
					</div>
					<div class="form-group-file">				        
							<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
					</div>
				</div>

                <div class="thumbnail-header dropzone">
					<img src="img/Default-Header.png" height="131">
					<div class="thumbnail_title">
						<h3>{{"ADD HEADER"}}</h3>
					</div>
					<div class="form-group-file-header">				        
							<input type="file" id="HeaderSelect" name="file" ng-file-select="onHeaderSelect($files)">
					</div>
				</div>
				
                <div class='media' ng-repeat='m in media'>
						<img ng-src='{{m.tempName}}' height="131" width="131">
						<div class="deleteMedia" ng-click="deleteMedia(m)"><img src="img/remove_x.png" width="10px" height="10px"/></div>
					</div>
                
				<div class="media_new"> 
				
	                <div class="form-group-file">				        
	    					<input type="file" id="fileSelect" name="file" ng-file-select="submitMedia($files)">
	    			</div>
					<img src="img/project_new_plus_icon_small.png" height="131" width="131">
					<div class="media_title_new"><h3>ADD MEDIA</h3></div>
				</div>
            </div></div>
                
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>COMMENTS</h1>
					<input ng-model='newArea.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-3"></label>
				</div>
			</div>
			
			<div class="form-group comments-all">	<p>No Comments Yet.</p>
				<div id='comments' ng-repeat="comment in comments" ng-if="newArea.toggle_comments" ng-include="'replyTree'">
				</div>				
			</div>
            </div>
                
                <br>
               
			</form>
		</div>
	</div>
	
	<script type='text/javascript' src='js/fixHead.js'></script>
</body>
</html>

