<!DOCTYPE HTML>
<html>
<head>
	<script src="js/script.js"></script> 
	<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
	<link rel="stylesheet" type="text/css" href="css/newarea.css"/>
        <link rel="stylesheet" type="text/css" href="css/project_single.css"/> <!-- This needs to change and be its own css -->
        <link rel="stylesheet" type="text/css" href="css/project_all.css"/>  <!-- This needs to change and be its own css -->
		
	<script src="js/leaflet.js"></script>
	<script src="js/l.control.geosearch.js"></script> 
	<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
</head>
<body ng-app="mbira">
    
	<!--AREA INFORMATION-->	
	<div ng-controller="newAreaCtrl">

		<!--HEADER-->
		<div class="header">
			<div class="back"><a ui-sref='viewProject({project: ID, pid: PID})'><img src="img/back.png"/><p>ALL PROJECTS</p></a></div>
				<div class="title"><h1>NEW AREA</h1>
			</div>
		</div>
		
		<div id="map"> 
			<div style="position:absolute; top:0;left:0;right:0;height:40px; background-color: white; opacity:.5; z-index: 1500;">
				<a ui-sref='newLocation({project: ID, pid: PID})'>Add Location</a>
			</div> 
			<button id="done" style="position:absolute; bottom:0; right:0; padding:25px; z-index:2000; display:none;">Done</button>
		</div>
		
		<div class="area_info">    
			<form id="newareaform" name="newareaform" novalidate ng-submit="submit()" role="form">
				<br>
				
				<div class="thumbnail dropzone"> 
					<h4 class="dropImg">Drop an Image</h4
					><h5>or</h5>
					<h4 class="clickAdd">Click to Add</h4>
					<img src="img/Default.png" height="225" width="225">
					<div class="thumbnail_title">
						<h3>{{newArea.name || "Thumbnail"}}</h3>
					</div>
					<div class="form-group-file">				        
							<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
					</div>
				</div>
				
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="name" name="name" ng-model="newArea.name" placeholder="Location Name">
				</div>
				
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="description" name="description" ng-model="newArea.description" placeholder="Location Description">
				</div>
				
				<br><br>
				
				<button type='button' ng-click='clearMarkers()'>Clear Map</button>
				<br><br>
				<button type='button' ng-click='createPolygon()' ng-if='markers.length >= 1'>Create Polygon</button>
				<div ng-if='markers.length == 1'>
					<button type='button' ng-click='createCircle(radius)'>Create Circle</button>
					radius = <input ng-model='radius'>
				</div>
				<div ng-repeat='mark in markers'>
					{{mark._latlng.lat}}, {{mark._latlng.lng}}
					<br>
				</div>
				
				<div class="form-group">				        
					<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)"/>
				</div>	
				
				<button type="submit" id="submit" class="btn btn-default" ng-disabled="newareaform.$invalid" ng-class="{'btn-disabled': newareaform.$invalid}">Add Area</button>
			</form>
		</div>
	</div>
</body>
</html>

