<!DOCTYPE HTML>
<html>
<head>
    <script src="js/script.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
	<link rel="stylesheet" type="text/css" href="css/newexhibit.css"/>
        <link rel="stylesheet" type="text/css" href="css/project_single.css"/> <!-- This needs to change and be its own css -->
        <link rel="stylesheet" type="text/css" href="css/project_all.css"/>  <!-- This needs to change and be its own css -->
   
    <script src="js/leaflet.js"></script>
    <script src="js/l.control.geosearch.js"></script> 
    <script src="js/l.geosearch.provider.openstreetmap.js"></script> 
</head>
<body ng-app="mbira">
    <div  ng-controller="newExhibitCtrl">
         <!--HEADER-->
        <div class="header">
            <div class="back"><a ui-sref='viewProject({project: ID, pid: PID})'><img src="img/back.png"/><p>TO PROJECT</p></a></div>
                <div class="title"><h1>NEW EXHIBIT</h1>
            </div>
        </div>

        <!--PROJECT INFORMATION-->       
		<div id="map"> 
			<div class="toolbar">
				<div class="tool_location"><a ui-sref='newLocation({project: ID, pid: PID})'><h3>ADD LOCATION</h3><img src="img/add_location.png"/></a></div>
				<div class="tool_area"><a ui-sref='newArea({project: ID, pid: PID})'><h3>ADD AREA</h3><img src="img/add_area.png"/></a></div>
				<div class="tool_filter"><a href="#"><h3>FILTER BY</h3><img src="img/filter_by.png"/></a></div>
			</div>
		</div>
		
		<div class="exhibit_info">    
			<form id="newexhibitform" name="newexhibitform" novalidate ng-submit="submit()" role="form">                    
				
				<br><br>
				
				<div class="thumbnail dropzone"> 
					<img src="img/Default.png" height="225" width="225">
					<div class="thumbnail_title">
						<h3>{{newExhibit.name || "Drop/Add Thumbnail"}}</h3>
					</div>
					<div class="form-group-file">				        
							<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
					</div>
				</div>
				
				<div class="form-group">                        
					<input type="text" required class="form-control npInput" id="name" name="name" ng-model="newExhibit.name" placeholder="Exhibit Name">
				</div>
				
				<div class="form-group">                        
					<textarea required class="form-control npInput" id="description" name="description" ng-model="newExhibit.description" placeholder="Exhibit Description"></textarea>
				</div>
				
				<div id='stops' ng-repeat="place in places">
					{{place[1]}} {{place[2]}}
				</div>
				
				<button type="submit" id="submit" class="btn btn-default" ng-disabled="newexhibitform.$invalid" ng-class="{'btn-disabled': newexhibitform.$invalid}">CREATE EXHIBIT</button>
			</form>
		</div>
 
    </div>
</body>
</html>
