<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/exploration_single.css"/>
        <link rel="stylesheet" type="text/css" href="css/project_all.css"/>    <!--remove eventually-->
		<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
        <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
		<link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
		
		<script src="js/leaflet.js"></script> 
		<script src="js/l.control.geosearch.js"></script> 
		<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
		
		<script type="text/ng-template" id="replyTree">
			<div class='comment' style='display:inline-block;'>{{comment.user}}<div style='display:inline-block; float: right; font-size:12px;'>{{comment.date}}</div><br>{{comment.comment}}<br></div> 
			<div ng-if="comment.replies">
				<div style='margin-left:50px;' ng-repeat="comment in comment.replies" ng-include="'replyTree'">
				</div>
			</div>
		</script>
		
    </head>
<body ng-app='mbira'>
    <div class="wrap" ng-controller='singleExplorationCtrl'>    
		<div class="header">
			<div class="back"><a onclick="window.history.go(-1); return false;"><img src="img/back.png"/><p>TO {{previous}}</p></a></div>
			<h1>{{exploration.name}}</h1>
		</div>
    
		<div id="map"> 
		</div>

		<form id="editexplorationform" name="editexplorationform" novalidate ng-submit="submit()" role="form">
            
			<div class="header2">
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="explorationName" ng-model="exploration.name" placeholder="Exploration Name">
					<button type="submit" id="submit" class="btn btn-default" ng-disabled="editexplorationform.$invalid" ng-class="{'btn-disabled': editexplorationform.$invalid}">SAVE & CLOSE</button>
				</div><br>
			</div>
			
			
            <div class="field">
			<div class='field-label'>
					<h1 class='label-name'>DESCRIPTION</h1>					
			</div>
			
			<div class="form-group">			
				<textarea id="textField" ng-model="exploration.description"></textarea>
                </div></div>
            
			
			<div class="form-group" >	<!--ng-if='active'-->
                <div class="field">
                <div class='field-label stops'>
					<h1 class='label-name'>STOPS</h1>	
                    <div class="form-group">				        
				<button type="button" ng-click='editPosition()' id="editStops" class="btn btn-default">ADD/REMOVE STOPS</button></div>
			</div>
				<div id='reorder' sv-root sv-part="places" sv-on-sort="onSort($part, $item, $index)"> Drag to Reorder
                    
					<div id='stops' ng-repeat="place in places" sv-element>
						<div style='position:absolute; padding-left:5px;'>{{$index + 1}}</div>{{place[1]}}
					</div>
				</div>
                </div>
			</div>
			
            <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>MEDIA</h1>
					<input ng-model='exploration.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-2"></label>
				</div>
                </div>
			
			<div class="medias">	
				<div class='media' ng-repeat='m in media'>
					<img ng-src='images/{{m.file_path}}' height="130" width="130">
				</div>
				<div class="media_new"> 
	                <div class="form-group-file">				        
	    					<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
	    			</div>
					<img src="img/project_new_plus_icon_small.png" height="130" width="130">
					<div class="media_title_new"><h3>ADD MEDIA</h3></div>
				</div>
                </div></div>
			
            <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>COMMENTS</h1>
					<input ng-model='exploration.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-3"></label>
				</div>
			</div>
			
			<div class="form-group">	
				<div id='comments' ng-repeat="comment in comments" ng-if="exploration.toggle_comments" ng-include="'replyTree'">
				</div>				
			</div>
            </div> 
			
			
		</form>
		
		<div class='field-label delete'>
					<h1 ng-click='delete()' class='label-name'>DELETE EXPLORATION</h1>
			</div>
	</div>
    

</body>
</html>

