<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
		<link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
		<link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
		<link rel="stylesheet" type="text/css" href="css/newexploration.css"/>
		<script src="js/leaflet.js"></script>
		<script src="js/l.control.geosearch.js"></script> 
		<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
	</head>
	<body ng-app="mbira">
		<div  ng-controller="newExplorationCtrl">
			<!--HEADER-->
			<div class="header">
				<div class="back">
					<a ui-sref='viewProject({project: ID, pid: PID})'>
						<img src="img/back.png"/>
						<p>{{project}}</p>
					</a>
				</div>
				<div class="title">
					<h1>New Exploration</h1>
				</div>
			</div>
			<div class="help" ng-if="total >= 2">
				<p>Select and connect the locations you would like to use within your new exploration, then click “DONE!”</p>
			</div>
			
			<div class="errorModal" ng-if="total < 2">
				<div class="dim">
					<div class="message error">	
						<p>This project doesn't have enough locations or areas yet. You need to create at least 2 locations or areas before you can create an exploration.</p>
						<button class="modalOk" ng-click="modalOk()">OK</button>
					</div>
				</div>
			</div>
			
			<!--PROJECT INFORMATION-->       
			<div id="map"> 
				<button id="done" ng-if="total >= 2" ng-click="done()">DONE!</button>
			</div>
			
			<div class="exp_info" style='display:none'>
				<form id="newexplorationform" name="newexplorationform" novalidate ng-submit="submit()" role="form">
					<div id="scroller-anchor"></div>
					<div id="scroller" class="header2">
						<div class="form-group">				        
							<input type="text" required class="form-control npInput" id="name" name="name" ng-model="newExploration.name" placeholder="Enter Exploration Name">
							<button type="submit" id="submit" class="btn btn-default" ng-disabled="newexplorationform.$invalid" ng-class="{'btn-disabled': newexplorationform.$invalid}">SAVE EXPLORATION</button>
						</div>
					</div>
					<div class="edit-exhibit"></div>
					<div class="field">
						<div class='field-label'>
							<h1 class='label-name'>DESCRIPTION</h1>
						</div>
						<div class="form-group">			
							<textarea id="textField" ng-model="newExploration.description" placeholder="Enter New Exploration Description"></textarea>
						</div>
					</div>
					<div class="form-group" >
						<!--ng-if='active'-->
						<div class="field">
							<div class='field-label stops'>
								<h1 class='label-name'>STOPS</h1>
								<div class="form-group edit">				        
									<button id="editStops">ADD/REMOVE STOPS</button>
								</div>
							</div>
							<div class="drag" >Drag to Reorder</div>
							<div id='reorder' sv-root sv-part="places" sv-on-sort="onSort($part, $item, $index)">
								<div id='stops' ng-repeat="place in places" sv-element>
									<div style='position:absolute; padding-left:5px;'>{{$index + 1}}</div>
									{{place[1]}}
									<div ng-click='removeThis()' style='float:right; cursor:pointer'>X</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class='field-label'>
							<div class="switch">
								<h1 class='label-name'>MEDIA</h1>
								<input ng-model='newExploration.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
								<label for="cmn-toggle-2"></label>
							</div>
						</div>
						<div class="medias">
							<div class="thumbnail dropzone">
								<img src="img/Default.png" height="127.5" width="127.5">
								<div class="thumbnail_title">
									<h3>{{"Exploration Thumbnail"}}</h3>
								</div>
								<div class="form-group-file">				        
									<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
								</div>
							</div>
							
							<div class="media_new"> 
								<div class='media' ng-repeat='m in media'>
									<img ng-src='{{m}}' height="127.5" width="127.5">
								</div>
								<div class="form-group-file">				        
										<input type="file" id="fileSelect" name="file" ng-file-select="submitMedia($files)">
								</div>
								<img src="img/project_new_plus_icon_small.png" height="127.5" width="127.5">
								<div class="media_title_new"><h3>ADD MEDIA</h3></div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class='field-label'>
							<div class="switch">
								<h1 class='label-name'>COMMENTS</h1>
								<input ng-model='newExploration.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
								<label for="cmn-toggle-3"></label>
							</div>
						</div>
						<div class="form-group comments-all">
							<p ng-show='!comments.length'>No Comments Yet.</p>
							<div id='comments' ng-repeat="comment in comments" ng-if="area.toggle_comments" ng-include="'replyTree'"> 
							</div>
						</div>
					</div>
					<br>
				</form>
			</div>
		</div>
		<script type='text/javascript' src='js/fixHead.js'>
	</body>
</html>