<!DOCTYPE HTML>
<html>
<head>
	<script src="js/script.js"></script> 
	<link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
    <link rel="stylesheet" type="text/css" href="css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
        <link rel="stylesheet" type="text/css" href="css/newlocation.css"/>
       
		
	<script src="js/leaflet.js"></script>
	<script src="js/l.control.geosearch.js"></script> 
	<script src="js/l.geosearch.provider.openstreetmap.js"></script> 
</head>
<body ng-app="mbira">
    <div  ng-controller="newLocationCtrl">

		 <!--HEADER-->
		<div class="header">
			<div class="back"><a ui-sref='viewProject({project: ID, pid: PID})'><img src="img/back.png"/><p>ALL PROJECTS</p></a></div>
				<div class="title"><h1>NEW LOCATION</h1>
			</div>
		</div>

    <div class="help">
            <p>Just click or search where you would like your new location to be...</p></div>
        
		<div id="map"> 
			<button id="done">DONE!</button>
		</div>
		
		<div class="loc_info main" style='display:none'>
			<div class="project_information">    
				<form id="newlocationform" name="newlocationform" novalidate ng-submit="submit()" role="form">

                    <div class="header2">
				<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="name" name="name" ng-value="search._location.Label" ng-model="newLocation.name" placeholder="Enter New Location Name">
					<button type="submit" id="submit" class="btn btn-default" ng-disabled="newlocationform.$invalid" ng-class="{'btn-disabled': newlocationform.$invalid}">SAVE LOCATION</button>
				</div>
			</div>
                
                 <div class="edit-exhibit">
			<div class="form-group">				        
				<select ng-model="selectedExhibit" id="editExhibit" ng-options="exhibit.name for exhibit in exhibits"></select>
                </div></div>
			
            <div class="field">
			<div class='field-label'>
					<h1 class='label-name'>DESCRIPTION</h1>					
                </div>
			
			<div class="form-group">			
				<textarea id="textField" ng-model="newLocation.description" placeholder="Enter New Location Description"></textarea>
			</div></div>				
		
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>DIG DEEPER</h1>
					<input ng-model='newLocation.toggle_dig_deeper' id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-1"></label>
				</div>
			</div>
			
			<div class="form-group">				        
				<textarea id="textField" ng-model="newLocation.dig_deeper" placeholder="Enter New Location Dig Deeper"></textarea>
                </div></div>
                
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>MEDIA</h1>
					<input ng-model='newLocation.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-2"></label>
				</div>
			</div>
			
			<div class="medias">
                
                <div class="thumbnail dropzone"> 
					
					<img src="img/Default.png" height="127.5" width="127.5">
					<div class="thumbnail_title">
						<h3>{{"Location Thumbnail"}}</h3>
					</div>
					<div class="form-group-file">				        
							<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
					</div>
				</div>
                
				<div class='media' ng-repeat='m in media'>
					<img ng-src='images/{{m.file_path}}' height="130" width="130">
				</div>
				<div class="media_new"> 
	                <div class="form-group-file">				        
	    					<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
	    			</div>
					<img src="img/project_new_plus_icon_small.png" height="127.5" width="127.5">
					<div class="media_title_new"><h3>ADD MEDIA</h3></div>
				</div>
            </div></div>
                
                <div class="field">
			<div class='field-label'>
				<div class="switch">
					<h1 class='label-name'>COMMENTS</h1>
					<input ng-model='newLocation.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="cmn-toggle-3"></label>
				</div>
			</div>
			
			<div class="form-group comments-all">	<p>No Comments Yet.</p>
				<div id='comments' ng-repeat="comment in comments" ng-if="newLocation.toggle_comments">
				</div>				
			</div>
            </div>
                    
                    
                    
				</form>
			</div>
		</div>
	</div>
</body>
</html>

