<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="css/user_all.css"/>
    </head>
	<body ng-app="mbira">

		<div class="header">
			<div class="back">
				<a onclick="window.history.go(-1); return false;">
					<img src="img/back.png"/>
					<p>USERS</p>
				</a>
			</div>
			<h1>NEW USER</h1>
		</div>
		<div class="users" ng-controller='newUserCtrl'>
			<form name="newUserForm" ng-submit='newUserForm.$valid && submit()' novalidate>
				
				
				<div class="singleField">
				<input type="text" class="newUserField" name="fname" placeholder="First Name" required ng-model="user.fName">
				<span class="error" ng-show="newUserForm.fname.$error.required && newUserForm.fname.$dirty">FIELD REQUIRED</span></div>
                
                <div class="singleField">
				<input type="text" class="newUserField" name="lname" placeholder="Last Name" required ng-model="user.lName">
				<span class="error" ng-show="newUserForm.lname.$error.required && newUserForm.lname.$dirty">FIELD REQUIRED</span></div>
                
                <div class="singleField">
                <input type="text" class="newUserField" name="username" placeholder="Username" required ng-model="user.username">
				<span class="error" ng-show="newUserForm.username.$error.required && newUserForm.username.$dirty">FIELD REQUIRED</span>
				<span class="error" ng-show="!newUserForm.username.$error.required && newUserForm.username.$dirty && usernameTaken">THIS USERNAME IS ALREADY TAKEN</span>
				</div>
				
            
                <div class="singleField">
				<input type="email" class="newUserField" name="email" placeholder="Email" required ng-model="user.email">
				<span class="error" ng-show="newUserForm.email.$error.required && newUserForm.email.$dirty">FIELD REQUIRED</span>
				<span class="error" ng-show="!newUserForm.email.$error.required && newUserForm.email.$error.email && newUserForm.email.$dirty">INVALID EMAIL</span></div>
				
				<!-- <select ng-init="user.expertise = options[0]" name="exp" ng-model="user.expertise" ng-options="option.name for option in options"></select><br><br> -->
				<div class="passwords">
                <div class="singleField">
                <input type="password" class="newUserField" name="pass1" placeholder="Password" required ng-model="user.pass1" ng-pattern="/.{8,}/">
				<span class="error" ng-show="newUserForm.pass1.$error.required && newUserForm.pass1.$dirty">FIELD REQUIRED</span>
				<span class="error" ng-show="!newUserForm.pass1.$error.required && newUserForm.$submitted && newUserForm.pass1.$error.pattern">PASSWORD MUST BE AT LEAST 8 CHARACTERS</span></div>
			    <div class="singleField">
				<input type="password" class="newUserField" name="pass2" placeholder="Confirm Password" required ng-model="user.pass2" match-password> 
				<span class="error" ng-show="!newUserForm.pass2.$error.required && newUserForm.pass2.$error.parse && newUserForm.pass2.$dirty">PASSWORDS DO NO MATCH</span>
                    <span class="error" ng-show="newUserForm.pass2.$error.required && newUserForm.pass2.$dirty">FIELD REQUIRED</span></div></div>
                
				<!-- <div class="badgesNewUser">
                    
                    <h3>Select Expertise</h3>
                    
					<div class="badgeSingle" ng-click="user.expertise = 'citExp'" ng-show="user.expertise != 'citExp'">
					  <img src='img/citizenExpert.png' style='opacity:.5'><br><p style='opacity:.5'>Citizen Expert</p>
					</div>
					<div class="badgeSingle" ng-click="user.expertise = 'none'" ng-show="user.expertise == 'citExp'">
					  <img src='img/citizenExpert.png'><br><p>Citizen Expert</p>
					</div>
					
					<div class="badgeSingle" ng-click="user.expertise = 'projExp'" ng-if="user.expertise != 'projExp'">
					  <img src='img/projectExpert.png' style='opacity:.5'><br><p style='opacity:.5'>Project Expert</p>
					</div>
					<div class="badgeSingle" ng-click="user.expertise = 'none'" ng-if="user.expertise == 'projExp'">
					  <img src='img/projectExpert.png'><br><p>Project Expert</p>
					</div>

					<div class="badgeSingle" ng-click="user.expertise = 'projMem'" ng-if="user.expertise != 'projMem'">
					  <img src='img/projectPerson.png' style='opacity:.5'><br><p style='opacity:.5'>Project Person</p>
					</div>
					<div class="badgeSingle" ng-click="user.expertise = 'none'" ng-if="user.expertise == 'projMem'">
					  <img src='img/projectPerson.png'><br><p>Project Person</p>
					</div>					
				</div>-->
				
				
				<button id="submit" type="submit">CREATE USER</button>	
			</form>
        </div>

	</body>
</html>