<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="css/user_all.css"/>
    </head>
	<body ng-app="mbira">

		<div class="header">
			<h1>USERS</h1>
		</div>
		
		<div class="users" ng-controller='usersToProjectCtrl'>
			<div class="user" ng-repeat='user in users' ng-class-odd="'odd'" ng-class-even="'even'">
				<img ng-click='addUser(user)' class="addUser" src='img/project_new_plus_icon.png'>
				<a ui-sref="viewUser({user: user.id, pid: user.pid, project: user.project_id, previous: 'ALL USERS'})"> 
					<div class="user_title"><h3>{{user.firstName}} {{user.lastName}}</h3></div>
					<div class="usernameAddUser">{{user.username}}</div>
				</a>
				<div class="switch">
					<input ng-click='toggle(user.email)' id="{{$index}}" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					<label for="{{$index}}"></label>
				</div>
			</div>
		</div>

	</body>
</html>