<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="css/project_info.css"/>
    </head>
<body>


	<div class="main" ng-controller="projectInfoCtrl">
		<div class="header">
			<div class="back"><a onclick="window.history.go(-1); return false;"><img src="img/back.png"/><p>{{project.name}}</p></a></div>
			<h1>PROJECT INFO</h1>
		</div>
		
		<form id="projectform" name="projectform" novalidate ng-submit="submit()" role="form">
            
            <div class="thumbnail dropzone"> 
        		<img class="projectImg" src="img/Default.png">
        		<div class="thumbnail_title">
        			<h3>{{newProject.name || "EDIT THUMBNAIL"}}</h3>
        		</div>
                <div class="form-group-file">				        
    					<input type="file" id="fileSelect" name="file" ng-file-select="onFileSelect($files)">
    			</div>
            </div>
			
			<div class="thumbnail dropzone"> 
        		<img class="logoImg" src="img/Default.png">
        		<div class="thumbnail_title">
        			<h3>{{"EDIT LOGO"}}</h3>
        		</div>
                <div class="form-group-file">				        
    					<input type="file" id="fileSelect" name="file" ng-file-select="onLogoSelect($files)">
    			</div>
            </div>
            
			<div class="form-group">				        
					<input type="text" required class="form-control npInput" id="name" name="name" ng-model="project.name">
			</div>
			
			<div class="form-group short">				        
					<textarea required class="form-control npInput" id="short" name="short" maxlength="150" ng-model="project.shortDescription" placeholder="Short Project Description"></textarea><div class="counter">{{project.shortDescription.length}}/150</div>
			</div>
			
			<div class="form-group">				        
					<textarea required class="form-control npInput" id="description" name="description" ng-model="project.description" placeholder="Project Description"></textarea>
			</div>
			
			<button type="submit" id="submit" class="btn btn-default" ng-disabled="projectform.$invalid" ng-class="{'btn-disabled': projectform.$invalid}">UPDATE PROJECT</button>
			
			<div id="delete" class='field-label delete'>
						<div ng-click='delete()' class='label-name'>DELETE PROJECT</div>
			</div>
		</form
	</div>

</body>
</html>