.flex {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.wrap-row {
  flex-flow: row wrap;
  flex-direction: row;
  -webkit-flex-direction: row;

}

.wrap-column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.align-center {
    align-content: center;
    -webkit-align-content: center;
}

/* Removes glowing outline on button focus */
.remove-outline {
    outline:0;
}