.animate-show {
    opacity: 1;

    &.ng-hide {
        opacity: 0;
    }

    &.ng-hide-add, 
    &.ng-hide-remove {
        -webkit-transition: 0.5s linear all;
        -moz-transition: linear 0.5s all;
        transition: 0.5s linear all;
    }
}

.animate-hide {
    opacity: 1;

    &.ng-hide {
        opacity: 0;
    }

    // &.ng-hide-add,
    &.ng-hide-remove {
        -webkit-transition: 0.5s linear all;
        -moz-transition: linear 0.5s all;
        transition: 0.5s linear all;
    }
}