<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/newarea.css"/>
        <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/areas.css"/>
        <link rel="stylesheet" type="text/css" href="css/map_interface.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/css/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href="css/l.geosearch.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/css/isteven-multi-select.css"/>
        <script src="vendor/js/leaflet.js"></script>
        <script src="vendor/js/l.control.geosearch.js"></script>
        <script src="vendor/js/l.geosearch.provider.openstreetmap.js"></script>
    </head>
    <body ng-app="mbira">
        <!--AREA INFORMATION-->
        <div ng-controller="newAreaCtrl">
            <div id="loading" class="loading">
                <div class="flex center wrap-column align-center" style="height:100%">
                    <div class="loader-inner ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="loading-text"></div>
                </div>
            </div>
            
            <div id="media-modal-1" class="overlay" ng-click="resetCropper()">
                <div class="media-modal">
                    <div class="media-modal-header">
                        <div ng-show="mediaCheckBox" class="crop-steps animate-show flex wrap-row space-between">
                            <span class="modal-step" ng-class="{'current-step': modal.current == 'Thumbnail', 'pointer': modal.mode == 'edit'}" ng-click="modal.mode == 'edit' ? stepInto('Thumbnail', 533) : null">1. Thumbnail</span> 
                            <span class="modal-step" ng-class="{'current-step': modal.current == 'Crop', 'pointer': modal.mode == 'edit'}" ng-click="modal.mode == 'edit' ? stepInto('Crop', 533) : null">2. Crop</span> 
                            <span class="modal-step" ng-class="{'current-step': modal.current == 'Details', 'pointer': modal.mode == 'edit'}" ng-click="modal.mode == 'edit' ? stepInto('Details', 350) : null">3. Details</span>
                        </div>
                        <div class="close" ng-click="resetCropper()">&times;</div>
                    </div>
                    <div ng-show="modal.current == 'Thumbnail' || modal.current == 'Crop'" ng-include src="'app/views/media/partials/_thumbnail_image_crop.html'"></div>
                    <div class="animate-hide" id="details" ng-show="modal.current == 'Details'" ng-include src="'app/views/media/partials/_image_details.html'"></div>
                </div>
            </div>
            <div ng-show="modal.current == 'ViewImage'" ng-include src="app/views/media/partials/_view_image.html"></div>
            <!--HEADER-->
            <div class="header">
                <div class="back">
                    <a ui-sref='viewProject({project: ID, pid: PID})'>
                        <img src="app/assets/images/back.png"/>
                        <p>{{project}}</p>
                    </a>
                </div>
                <div class="title">
                    <h1>NEW AREA</h1>
                </div>
            </div>
            <div class="help">
                <p>Click to add the points which will define your area. To finish defining your area, click on the first point created, and then click on the "SAVE AREA" button that appears.</p>
            </div>
            <div id="map">
                <button id="done">DONE!</button>
            </div>
            <div class="area_info" style='display:none'>
                <form id="newareaform" name="newareaform" novalidate ng-submit="submit()" role="form">
                    <div id="scroller-anchor"></div>
                    <div id="scroller" class="header2">
                        <div class="form-group">
                            <input type="text" required class="form-control npInput" id="name" name="name" ng-model="newArea.name" maxlength="50" placeholder="Enter New Area Name">
                            <div class="counter-name">{{newArea.name.length || 0}}/50</div>
                            <button type="submit" id="submit" class="btn btn-default" ng-disabled="newareaform.$invalid" ng-class="{'btn-disabled': newareaform.$invalid}">SAVE AREA</button>
                        </div>
                    </div>
                    <div class="edit-exhibit">
                        <div class="form-group">
                            <div bindToController='true' isteven-multi-select input-model="exhibits" helper-elements="all none" output-model="outputExhibits" button-label="icon name" item-label="icon name maker" tick-property="ticked"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class='field-label flex-align'>
                            <h1 class='label-name'>AREA TAGLINE</h1>
                            <div class="counter">{{newArea.short_description_length}}/400</div>
                        </div>
                        <div class="form-group short">
                            <textarea class="form-control npInput short textField" name="short" ng-change="getLength(newArea.short_description)" ng-model="newArea.short_description" medium-editor bind-options="{placeholder: {text: 'Enter a short description for the area - this text will appear in the area\'s pop up \nin the map view',hideOnClick: false}}"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class='field-label'>
                            <h1 class='label-name'>DESCRIPTION</h1>
                        </div>
                        <div class="form-group">
                            <textarea class="textField" ng-model="newArea.description" medium-editor bind-options="{placeholder: {text: 'Enter descriptive text for the area - this will appear on the area\'s detail page',hideOnClick: false}}"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class='field-label'>
                            <div class="switch">
                                <h1 class='label-name'>DIG DEEPER</h1>
                                <input ng-model='newArea.toggle_dig_deeper' id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                <label for="cmn-toggle-1"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="textField" ng-model="newArea.dig_deeper" medium-editor bind-options="{placeholder: {text: 'Enter Dig Deeper text - this will appear on the area\'s Dig Deeper page',hideOnClick: false}}"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class='field-label'>
                            <div class="switch">
                                <h1 class='label-name'>MEDIA</h1>
                                <input ng-model='newArea.toggle_media' id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                <label for="cmn-toggle-2"></label>
                            </div>
                        </div>
                        <div class="medias">
                            <div class="thumbnail dropzone">
                                <div class="thumbnail-img">
                                    <img src="app/assets/images/Default.png" height="131" width="131">
                                </div>
                                <div class="thumbnail_title">
                                    <h3>{{"ADD THUMBNAIL"}}</h3>
                                </div>
                                <div class="form-group-file">
                                    <input type="file" id="fileSelect" name="file" ng-file-select="onThumbSelect($files)">
                                </div>
                            </div>
                            <div class="thumbnail-header dropzone" >
                                <img ng-src='app/assets/images/Default-Header.png' height="131">
                                <div class="thumbnail_title">
                                    <h3>{{"EDIT HEADER"}}</h3>
                                </div>
                                <div class="form-group-file-header">				        
                                    <input type="file" id="HeaderSelect" name="file" ng-file-select="onHeaderSelect($files)">
                                </div>
                            </div>
                            <div class='media' ng-repeat='m in media'>
                                <img ng-src='{{m[2]}}' height="131" width="131">
                                <div class="deleteMedia" ng-click="deleteMedia(m)"><img src="app/assets/images/remove_x.png" width="10px" height="10px"/></div>
                            </div>
                            <div class="media_new">
                                <div class="form-group-file">				        
                                    <input type="file" id="fileSelect" name="file" ng-file-select="onMediaSelect($files)">
                                </div>
                                <img src="app/assets/images/project_new_plus_icon_small.png" height="131" width="131">
                                <div class="media_title_new">
                                    <h3>ADD MEDIA</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class='field-label'>
                            <div class="switch">
                                <h1 class='label-name'>COMMENTS</h1>
                                <input ng-model='newArea.toggle_comments' id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                                <label for="cmn-toggle-3"></label>
                            </div>
                        </div>
                        <div class="form-group comments-all">
                            <p>No Comments Yet.</p>
                            <div id='comments' ng-repeat="comment in comments" ng-if="newArea.toggle_comments" ng-include="'replyTree'">
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <script type='text/javascript' src='js/fixHead.js'></script>
        <script type='text/javascript'>
            $(".overlay *").click(function(e) {
                e.stopPropagation();
            });
            
            var cropper;
            
            var vtoggle = -1
            var htoggle = -1
            
            function toggleFlip(type) {
                if (type == "vertical") {
                    cropper.scaleY(vtoggle)
                    vtoggle == -1 ? vtoggle = 1 : vtoggle = -1;
                } else {
                    cropper.scaleX(htoggle)
                    htoggle == -1 ? htoggle = 1 : htoggle = -1;
                }
            }
            
        </script>
    </body>
</html>