<div class="flex wrap-row space-between">
	<img id="details-thumbnail" src="">
	<div id="details-form-wrap" class="flex wrap-column space-between">
		<div class="flex wrap-row">
			<div class="details-input-wrap">
				<input name="title" id="details-title" class="details-input remove-outline" ng-class="{'filled': $parent.modal.details.title}" ng-model="$parent.modal.details.title"></input>
				<label for="title">Title</label>
			</div>
		</div>
		<div class="flex wrap-row">
			<div class="details-input-wrap">
				<input type="text" id="details-alt" name="alt" class="details-input remove-outline" ng-class="{'filled': $parent.modal.details.alt}"  ng-model="$parent.modal.details.alt"></input>
				<label for="alt">Alt Description <a>?</a></label>
			</div>
		</div>
		<div class="flex wrap-row">
			<div id="details-textarea-wrap">
				<textarea name="desc" id="details-desc" class="details-textarea remove-outline" ng-class="{'filled': $parent.modal.details.desc}" ng-model="$parent.modal.details.desc"></textarea>
				<label for="desc">Description</label>
			</div>
		</div>
	</div>
	
</div>
<div class="flex wrap-row space-between">
	<button id="step-back" class="step-back-details remove-outline modal-button" ng-click="$parent.stepBack()">BACK</button>
	<button id="details-submit" class="remove-outline modal-button" ng-click="$parent.modal.mode == 'edit' ? $parent.saveDetails('edit') : $parent.saveDetails()">
		COMPLETE DETAILS & SAVE MEDIA
	</button>
</div>

<script type="text/javascript">
	$(".details-input-wrap input, #details-textarea-wrap textarea").on('change', function() {
	  if ($(this).val() != "") {
	    $(this).addClass('filled');
	  } else {
	    $(this).removeClass('filled');
	  }
	})
</script>