.library {
    min-height: 600px;
    background-color: #18587C;
    padding-bottom: 20px;
}

#subheader {
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255, 0.2);
    color: white;

    ::-webkit-input-placeholder {
        color: white;
        text-align: center;
        text-indent: 0px;
    }

    div {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;

        i {
            color:inherit;
            margin-bottom: 2px;
        }

        &:hover {
            color: $mbiraLightBlue;
        }
    }

    #search {
        width: 150px;
        height: 100%;
        background-color: transparent;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        text-indent: 20px;
        border-right: 1px solid rgba(255,255,255, 0.3);
        outline: none;
        color: white;

        &:focus {
            background-color: rgba(255,255,255, 0.1)
        }

        &:hover::-webkit-input-placeholder, &:focus::-webkit-input-placeholder {
            color: $mbiraLightBlue;
        }

    }

    #select {
        padding-right: 20px;
    }

    .active {
        color: $mbiraLightBlue !important;
    }
}

.medias {
    margin: 0;
    padding-bottom: 20px;
    z-index: 2;
    background: transparent;
    box-sizing: border-box; 
    
    div {
        display: inline-block;
    }
}

.media {
    width: 127px;
    height: 127px;
    margin: 20px 0 0 20px;
    box-sizing: border-box;
    border-width: 2px;
    position: relative;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.2);
}

img {
    object-fit: cover;
    box-sizing: border-box;
    border: none;
}

.media:hover > .deleteMedia, .media:hover > .viewMedia, .media:hover > .editMedia {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.deleteMedia {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    bottom: 0;
    left: 0;
    padding: 5px 6px 5px 6px;
    background: #3EB9FD;
    cursor: pointer;
}

.editMedia {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    top: 0;
    right: 0;
    padding: 5px;
    background: #3EB9FD;
    cursor: pointer;
    z-index: 1;
}

.viewMedia {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    top: 0;
    left: 0;
    padding: 5px;
    background: #3EB9FD;
    cursor: pointer;
    z-index: 1;
}

.editMedia:hover, .viewMedia:hover, .deleteMedia:hover {
    color: #3EB9FD;
    background: #FFF;
}

.editMedia i, .viewMedia i, .deleteMedia i {
    color: white;
}

.editMedia:hover i, .viewMedia:hover i, .deleteMedia:hover i {
    color: #3EB9FD;
}

.selected {
    border: 2px solid $mbiraLightBlue;
}